@use 'setup';

// colours
$mainColor: #152D20;
$secondaryColor: #C3D3CB;
$lightColor: #FCFCFC;
$darkColor: #000000;

// text styles
$funkyHed: 'Fredericka the Great', cursive;
$bodyText: 'Roboto', sans-serif;
$secondaryText: 'Cormorant Garamond', serif;

//font setup
html {
    font-size: 125%;
}

// remove some margins and list styles 
h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0
}

ul { 
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

// global wrapper
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

//bodytext mixin 
@mixin bodyTextStyle {    
    font-family: $bodyText;
    font-weight: 300;
    line-height: 29px;
    font-size: 20px;
}

// button mixin
@mixin buttons($bgcolor, $textColor) {
    font-family: $secondaryText;
    background-color: $bgcolor;
    color: $textColor;
    font-weight: 600;
    text-align: center;
    line-height: 29px;
    display: inline-block;
    padding: 13px 35px 10px;
    border-radius: 3px;
    text-transform: uppercase;   
    max-width: 200px;
    @media (max-width: 800px) {
        margin: 0 auto;
    }
}

//secondary text mixin
@mixin secText {
    font-family: $secondaryText;
    font-weight: 600;
    font-size: 22px;
}

// Header section
header {
    background-image: url('../assets/animal-land-assets/image-1.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 20px;

    color: $lightColor;

    .burgerIconContainer {
        display:none;
    }

    .headerFlexWrapper {
        
        display:flex;
        justify-content: space-between;
        // flex-direction: column;
        align-content: space-between;
        height: 100%
    }
    
    .iconContainer {
        width: 25px;
        height: 25px
    }

    .primaryNavFlex {
        display: flex;
    }

    .primaryNavFlex {
        text-transform: uppercase;

        li {
            @include secText();
            margin-right: 20px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    h1 {
        font-family: $funkyHed;
        font-size: 6rem;
        line-height: 117px;
        text-transform: uppercase;
        text-align: right;
        font-weight: 400;
        max-width: 528px;

        margin-top: 150px;
    }

    .socialNav {
        margin-right: -30px;
        margin-top: 75vh;

        li {
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

//suzie's story section

section.suziesSection {
    background-color: $mainColor;
    color: $lightColor;

    padding:60px;

    .suzieFlexWrapper{
        display: flex;
    }
    
    .imgContainer {
        max-width: 35%;
    }
    
    .textContainer {
        max-width: 65%;
        padding-left: 30px;

        h2 {
            font-family: $funkyHed;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 51px;
        }
        
        p {
            @include bodyTextStyle();
            margin: 20px 0;
        }
        
        a {
            @include buttons($lightColor, $mainColor);
        }
    }
}

//gallery section
section.someFriendsSection {

    background-color: $secondaryColor;
    padding: 60px 0;

    h3 {
        font-family: $funkyHed;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 49px;
        text-align: center;
        color: $mainColor;

        max-width: 35%;
        margin: 0 auto 60px;
    }
    .galleryFlex {
        display: flex;
        justify-content: space-between;

        li {
            max-width: calc( 33% - 15px );
        }
    }
}

//store section
section.storeNav {
    background-color: $mainColor;
    padding: 60px;
}

.buttonsFlex {
    display: flex;
    justify-content: space-around;
    color: $lightColor;
    text-align: center;

    li {
        max-width: 15%;
        text-transform: uppercase;
        @include secText();
        
        .iconContainer {
            margin: 0 auto;
            max-width: 50px;
        }
    }
}

// Facts and bond section styles
section.factsAndBond {
    .container {
        width: 50%;
    }
    .textContainer {
        padding: 30px 60px 60px;
    }

    h4 {
        font-family: $funkyHed;
        font-weight: 400;
        font-size: 1.75rem;
        text-transform: uppercase;
        color: $mainColor;
    }

    p {
        @include bodyTextStyle();
        margin: 20px 0;
    }

    a {
        @include buttons($mainColor, $lightColor)
    }

}

.factsFlex, .bondFlex {
    display: flex;
    img {
        height: 100%;
        width: fit-content;
    }
}

.bondFlex {
    flex-direction: row-reverse;
}

// start of about section
section.about {
    background-color: $mainColor;
    color: $lightColor;
    padding: 60px 0;

    .aboutFlexWrapper {
        display: flex;
        justify-content: space-between;

        p.bodyStyle {
                @include bodyTextStyle();
                color: $lightColor;
        }
            
        .navText {
            text-transform: uppercase;
            @include secText();
        }

        .newsletterContainer {
            text-align: center;
            margin: 0 auto;
            flex-basis: 60%;
        }

        .contactContainer {
            text-align: right;
        }
    }
}

.newsletterContainer {
    .inputBar{
        width: 380px;
        height: 50px;
        border: none;
        text-decoration: none;
        padding: 25px
    }

    input[type=submit] {
        @include buttons($darkColor, $lightColor);
        border: none;
        text-decoration: none;
    }
}


//start of footer section
footer {
    background-color: $darkColor;
    padding: 10px 0;
    
    p {
        @include bodyTextStyle();
        text-align: center;
        color: $lightColor;
    }
}

@media (max-width: 800px) {
    .wrapper {
        max-width: 90%;
    }

    header {
        .headerFlexWrapper {
            flex-direction: row-reverse;    
        }

        h1 {
            font-size: 3em;
            line-height: 50px;
            margin-top: 0;
            text-align: left;
            max-width: 300px;

        }
        
        .primaryNav, .socialNav {
            display: none;
        }
        
        .burgerIconContainer {
            display: block;
            width: 50px;
            height: 50px;
        }
    }

    section.suziesSection {
        padding: 30px 0;

        .suzieFlexWrapper {
            flex-direction: column;
            // max-width: 100%;
        }
        .imgContainer, .textContainer {
            max-width: 100%;
            padding: 10px 0;
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-content: center;
        }
    }

    section.someFriendsSection {
        h3 {
            max-width: 100%;
        }

        .galleryFlex {
            li {
                max-width: calc( 50% - 10px );
                
                &:last-of-type {
                    display: none;
                }
            }
        }
    }

    section.storeNav {
        .buttonsFlex{
            flex-direction: column;

            li {
                max-width: 50%;
                margin: 20px auto;
            }

            li .iconContainer {
                max-width: 100px;
                width: 100%;
            }

            li p {
                margin-top: 10px;
            }
        }
    }
}